<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop & Heal x FDND</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/rouwtaak.css">
    <link rel="stylesheet" href="/styles/chat.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/assets/scripts/exercise.js" defer></script>
    <script src="/assets/scrpits/header-script.js" defer></script>
    <script src="/assets/scrpits/index-script.js" defer></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
