<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fresk</title>
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <link rel="stylesheet" href="/assets/styles/role.css">
    <link rel="stylesheet" href="/assets/styles/detail.css">
    <link rel="stylesheet" href="/assets/styles/favorites.css">
    <link rel="stylesheet" href="/assets/styles/skeleton.css">


    <script src="/assets/scrpits/role.js" defer></script>
    <script src="/assets/scrpits/header.js" defer></script>
    <script src="/assets/scrpits/home.js" defer></script>

</head>
<body>
