
header {
    min-height: 7em;
    background-color: canvas;
    width: 100vw;
    color: var(--white);
    position: relative; 

  }

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--bg-color);
    background-color: canvas;
    z-index: 1000;
    padding: 2em 0 1em 0;
    transform: translateX(-100%);
    }

    

    .menu.open {
    transform: translateX(0);
    }

    .menu-close {
    position: absolute;
    display: block;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #050542;
    cursor: pointer;
    }

    .menu-close:hover {
    color: #050542;
    }

    .menu ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
    }

    .menu li a {
    display: block;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    color: var(--text-color);
    color:canvastext;
    font-size: 1.1em;
    box-sizing: border-box;
    }

    .menu li a:hover {
    background-color: #FF7535;
    color: #B9FFB7;
    }
    
    button{
      display: hidden;
    }



@media (prefers-color-scheme: dark) {
  .menu-toggle  {
    --bg-color: #ffffff;
  }
}



.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: canvas;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}



.menu-toggle {
  display: block;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.site-logo {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.site-logo img {
  width: 80px;
  height: auto;
  object-fit: contain;
  background-color: canvas;
  background-color: var(--bg-color);
  color: var(--text-color);

}
