.roles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-sm);
}

.role-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: var(--spacing-md);
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease, 
  box-shadow 0.3s ease;
  text-decoration: none; 

}

.role-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.role-button img {
  border-radius: 50%;
  border: 4px solid var(--snow);
  margin-bottom: var(--spacing-sm);
  transition: border-color 0.3s ease;
}

.role-button:hover img {
  border-color: var(--xiketic);
}

.role-button .label {
  font-size: var(--text-md);
  color: var(--xiketic);
  transition: color 0.3s ease;
}

.role-button:hover .label {
  color: var(--majorelle-blue);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .role-button {
    background-color: var(--raisin-black);
  }

  .role-button .label {
    color: var(--white);
  }

  .role-button img {
    border-color: var(--sonic-silver);
  }
}

/* New Role Section */
.new-role-button {
  margin: var(--spacing-lg) auto;
  padding: var(--spacing-md) var(--spacing-sm);
  text-align: center;
}

.new-role-button h2 {
  font-size: var(--text-md);
  color: var(--xiketic);
  margin-bottom: var(--spacing-sm);
}

.new-role-button a {
  display: inline-block;
  margin: 0 var(--spacing-xs);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: var(--text-sm);
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.new-role-button .go-button {
  background-color: var(--majorelle-blue);
  color: var(--white);
  border: none;
}

.new-role-button .go-button:hover {
  background-color: var(--orange-crayola);
}

.new-role-button .alt-button {
  background-color: transparent;
  color: var(--majorelle-blue);
  border: 2px solid var(--majorelle-blue);
}

.new-role-button .alt-button:hover {
  background-color: var(--majorelle-blue);
  color: var(--white);
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
  .new-role-button h2 {
    color: var(--white);
  }

  .new-role-button .alt-button {
    color: var(--white);
    border-color: var(--white);
  }

  .new-role-button .alt-button:hover {
    background-color: var(--white);
    color: var(--xiketic);
  }
}
 .error-page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    margin-top: 50px;
  }
