@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

:root {
  /*  COLORS  */
   --granny-smith-apple: #B9FFB7;
  --orange-crayola: #FF7535;
  --majorelle-blue: #5E43FF;
  --xiketic: #120B11;
  --raisin-black: #302A2F;
  --sonic-silver: #736F72;
  --snow: #FCF8F7;
  --white: #FFFFFF;
  --black: #111;
  --bg-color: #ffffff;
  --text-color: #120b11;

  /*  FONT  */
  --font-main: 'Nunito', sans-serif;

  /*  FONT SIZES  */
  --text-xs: clamp(0.5rem, 1.5vw, 1rem);
  --text-sm: clamp(1rem, 2vw, 1.25rem);
  --text-md: clamp(1.25rem, 3vw, 1.5rem);
  --text-lg: clamp(1.5rem, 4vw, 2rem);
  --text-xl: clamp(2rem, 5vw, 3rem);

  /*  SPACING  */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --breakpoint-desktop: 64em;
  --breakpoint-tablet: 48em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #302A2F;
    --text-color: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
      color-scheme: light  dark; /*dark mode*/
    }
body {
  min-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-main);
  background: var(--snow);
  color:canvastext; /*dark mode text*/
  line-height: 1.5;
      background: repeating-linear-gradient(
        to right,
        var(--white),
        var(--white) 20px,
        var(--snow) 20px,
        var(--snow) 100px
      );

}
/*dark mode*/
    @media (prefers-color-scheme: dark) {
      body {
        background: repeating-linear-gradient(
          to right,
          var(--black),
          var(--black) 20px,
          var(--raisin-black) 20px,
          var(--raisin-black) 100px
        );
      }
    }
/* TYPOGRAPHY  */
h1, h2, h3, h4, h5 {
  font-family: var(--font-main);
  color: var(--xiketic);
  font-weight: 600;
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
}

p, li {
  font-size: var(--text-sm);
  color: var(--raisin-black);
}



/*  BUTTONS  */
.btn {
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: var(--orange-crayola);
}

/* === THEMES === */
.theme-controller, .theme-grower { background: var(--granny-smith-apple);
 &:hover {
      background-color: var(--orange-crayol);
    }
 }
.theme-mechanic, .theme-salesman { background: var(--orange-crayola);
 &:hover {
      background-color: var(--granny-smith-apple);
    }
 }
.theme-orderer, .theme-boss { background: var(--majorelle-blue);
 &:hover {
      background-color: var(--granny-smith-apple);
    }
 }
.theme-dark { background: var(--xiketic); color: var(--white); }

/*  SPACING UNIT  */
.mt-sm { margin-top: var(--spacing-sm); }
.mt-md { margin-top: var(--spacing-md); }
.mt-lg { margin-top: var(--spacing-lg); }


